<button type ="button" routerLink= "/main-page"> Test</button>
<button type ="button" routerLink= "/profile-page"> profile</button>
<button type ="button" routerLink= "/member-page"> membership</button>
<button type ="button" routerLink= "/team-page"> team</button>
<button type ="button" routerLink= "/payment-page"> payment</button>
<button type ="button" routerLink= "/login-page"> login</button>
<button type ="button" routerLink= "/registra-page">registration </button>
<button type ="button" routerLink= "/yearbook-page">yearbook</button>
<button type ="button" routerLink= "/gallery-page">gallery</button>
<button type ="button" routerLink= "/orgaz-page">orgaizational</button>
<button type ="button" routerLink= "/officer-page">off</button>
<button type ="button" routerLink= "/account-page">account</button>
<router-outlet></router-outlet>

