<p>main-page works!</p>

<div class="flex-grow-1"> 


<!--Navbar-->
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark special-color-dark">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
  <a class="navbar-brand" href="#">Navbar</a>
  </mdb-navbar-brand>

  <links>
  <!-- Links -->
  <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown mega-dropdown active" mdbDropdown>
      <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
        aria-expanded="false">Features</a>
      <div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color">
        <div class="row mx-md-4 mx-1">
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Lorem ipsum dolor sit amet
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Consectetur adipiscing elit
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed do eiusmod tempor incididunt
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut labore et dolore magna
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut enim ad minim veniam
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Related</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quis nostrud exercitation
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Duis aute irure dolor in
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Laboris nisi ut aliquip ex ea commodo
                  consequat
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Reprehenderit in voluptate
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Esse cillum dolore eu fugiat nulla
                  pariatur
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Design</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Excepteur sint occaecat
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sunt in culpa qui officia
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed ut perspiciatis unde omnis iste
                  natus error
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Mollit anim id est laborum
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Accusantium doloremque laudantium
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Programming</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Totam rem aperiam eaque
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Beatae vitae dicta sun
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quae ab illo inventore veritatis et
                  quasi architecto
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Nemo enim ipsam voluptatem
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Neque porro quisquam est
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown mega-dropdown" mdbDropdown>
      <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
        aria-expanded="false">Technology</a>
      <div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color">
        <div class="row mx-md-4 mx-1">
          <div class="col-md-12 col-lg-4 sub-menu my-lg-5 mt-5 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
            <!--Featured image-->
            <div class="view overlay mb-3 z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(37).webp" class="img-fluid"
                alt="First sample image">
              <div class="mask rgba-white-slight flex-center">
                <p></p>
              </div>
            </div>
            <h4 class="mb-2">
              <a class="news-title pl-0" href="">Lorem ipsum dolor sit</a>
            </h4>
            <p class="font-small text-uppercase white-text">
              <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 17, 2017 /
              <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 20</p>
          </div>
          <div class="col-md-6 col-lg-4 sub-menu my-lg-5 my-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Related</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quis nostrud exercitation
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Duis aute irure dolor in
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Laboris nisi ut aliquip ex ea commodo
                  consequat
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Reprehenderit in voluptate
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Esse cillum dolore eu fugiat nulla
                  pariatur
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4 sub-menu my-lg-5 my-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Design</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Excepteur sint occaecat
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sunt in culpa qui officia
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed ut perspiciatis unde omnis iste
                  natus error
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Mollit anim id est laborum
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Accusantium doloremque laudantium
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown mega-dropdown" mdbDropdown>
      <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
        aria-expanded="false">Lifestyle</a>
      <div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color">
        <div class="row mx-md-4 mx-1">
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Lorem ipsum dolor sit amet
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Consectetur adipiscing elit
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed do eiusmod tempor incididunt
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut labore et dolore magna
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut enim ad minim veniam
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Related</h6>
            <!--Featured image-->
            <div class="view overlay mb-3 z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).webp" class="img-fluid"
                alt="First sample image">
              <div class="mask rgba-white-slight flex-center">
                <p></p>
              </div>
            </div>
            <h4 class="mb-2">
              <a class="news-title pl-0" href="">Lorem ipsum dolor sit</a>
            </h4>
            <p class="font-small text-uppercase white-text">
              <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 17, 2017 /
              <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 20</p>
          </div>
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Design</h6>
            <!--Featured image-->
            <div class="view overlay mb-3 z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).webp" class="img-fluid"
                alt="First sample image">
              <div class="mask rgba-white-slight flex-center">
                <p></p>
              </div>
            </div>
            <h4 class="mb-2">
              <a class="news-title pl-0" href="">Ut labore et dolore magna</a>
            </h4>
            <p class="font-small text-uppercase white-text">
              <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 16, 2017 /
              <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 25</p>
          </div>
          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Programming</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Totam rem aperiam eaque
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Beatae vitae dicta sun
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quae ab illo inventore veritatis et
                  quasi architecto
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Nemo enim ipsam voluptatem
                </a>
              </li>
              <li class="">
                <a class="menu-item pl-0" href="">
                  <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Neque porro quisquam est
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

  </ul>
  <!-- Links -->


  <!-- Search form -->
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
  </form>
</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

</div>




<div class="container">
  <div class="row">
    <div class="col-md-8">
      .col-md-8

      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>

      <div class="row">
        <div class="col-md-6">.col-md-6
          <div class="d-flex">
            <!-- Card -->
            <mdb-card
              style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.webp')"
              class="card-image mb-3 mx-2"
            >
              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h5 class="pink-text">
                    <mdb-icon fas icon="chart-pie"></mdb-icon>
                    Marketing
                  </h5>
                  <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                    voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                    ipsum dignissimos. Odit sed qui, dolorum!.
                  </p>
                  <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                    <mdb-icon far icon="clone" class="left"></mdb-icon>
                    View project</a
                  >
                </div>
              </div>
              <!-- Content -->
            </mdb-card>
            <!-- Card -->
          
            <!-- Card -->
            <mdb-card
              style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).webp')"
              class="card-image mb-3 mx-2"
            >
              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                <div>
                  <h5 class="orange-text">
                    <mdb-icon fas icon="desktop"></mdb-icon>
                    Software
                  </h5>
                  <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                    voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                    ipsum dignissimos. Odit sed qui, dolorum!.
                  </p>
                  <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                    <mdb-icon far icon="clone" class="left"></mdb-icon>
                    View project</a
                  >
                </div>
              </div>
              <!-- Content -->
            </mdb-card>
            <!-- Card -->
          </div>

        </div>

        <div class="col-md-6">.col-md-6

          <div class="d-flex">
            <!-- Card -->
            <mdb-card
              style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.webp')"
              class="card-image mb-3 mx-2"
            >
              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h5 class="pink-text">
                    <mdb-icon fas icon="chart-pie"></mdb-icon>
                    Marketing
                  </h5>
                  <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                    voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                    ipsum dignissimos. Odit sed qui, dolorum!.
                  </p>
                  <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                    <mdb-icon far icon="clone" class="left"></mdb-icon>
                    View project</a
                  >
                </div>
              </div>
              <!-- Content -->
            </mdb-card>
            <!-- Card -->
          
            <!-- Card -->
            <mdb-card
              style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).webp')"
              class="card-image mb-3 mx-2"
            >
              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                <div>
                  <h5 class="orange-text">
                    <mdb-icon fas icon="desktop"></mdb-icon>
                    Software
                  </h5>
                  <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                    voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                    ipsum dignissimos. Odit sed qui, dolorum!.
                  </p>
                  <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                    <mdb-icon far icon="clone" class="left"></mdb-icon>
                    View project</a
                  >
                </div>
              </div>
              <!-- Content -->
            </mdb-card>
            <!-- Card -->
          </div>          

        </div>
      </div>
    </div>
    <div class="col-md-4">.col-md-4

<!-- Timeline -->
<div class="row mt-5">
  <div class="col-md-12">
  <div class="timeline-main">
      <!-- Timeline Wrapper -->
      <ul class="stepper stepper-vertical timeline timeline-basic">

          <li>
              <!--Section Title -->
              <a href="#!">
                  <span class="circle primary-color z-depth-1-half"><mdb-icon fas icon="check" aria-hidden="true"></mdb-icon></span>
              </a>

              <!-- Section Description -->
              <div class="step-content z-depth-1 ml-xl-0 p-4">
                  <h4 class="font-weight-bold">Ut enim ad minim veniam</h4>
                  <p class="text-muted mt-3"><mdb-icon far icon="clock" aria-hidden="true"></mdb-icon> 11 hours ago via Twitter</p>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </li>
          <li class="timeline-inverted">
              <!--Section Title -->
              <a href="#!">
                  <span class="circle warning-color z-depth-1-half"><mdb-icon fas icon="credit-card" aria-hidden="true"></mdb-icon></span>
              </a>

              <!-- Section Description -->
              <div class="step-content z-depth-1 ml-xl-0 p-4">
                  <h4 class="font-weight-bold">Duis aute irure dolor</h4>
                  <p class=" mt-4 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              </div>
          </li>
          <li>
              <!--Section Title -->
              <a href="#!">
                  <span class="circle danger-color z-depth-1-half"><mdb-icon fas icon="credit-card" aria-hidden="true"></mdb-icon></span>
              </a>

              <!-- Section Description -->
              <div class="step-content z-depth-1 ml-xl-0 p-4">
                  <h4 class="font-weight-bold">Sed ut nihil unde omnis</h4>
                  <p class="mt-4 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
              </div>
          </li>
          <li class="timeline-inverted">
              <!--Section Title -->
              <a href="#!">
                  <span class="circle info-color z-depth-1-half"><mdb-icon far icon="save" aria-hidden="true"></mdb-icon></span>
              </a>

              <!-- Section Description -->
              <div class="step-content z-depth-1 ml-xl-0 p-4">
                  <h4 class="font-weight-bold"> Quis autem vel eum voluptate</h4>
                  <p class="mt-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                  <p class="mb-0">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
              </div>
          </li>
          <li>
              <!--Section Title -->
              <a href="#!">
                  <span class="circle success-color z-depth-1-half"><mdb-icon far icon="thumbs-up" aria-hidden="true"></mdb-icon></span>
              </a>

              <!-- Section Description -->
              <div class="step-content z-depth-1 ml-xl-0 p-4">
                  <h4 class="font-weight-bold">Mussum ipsum cacilds</h4>
                  <p class="mt-4 mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
              </div>
          </li>
      </ul>
      <!-- Timeline Wrapper -->
      </div>
  </div>
</div>
<!-- Timeline -->

    </div>
  </div>
</div>


<div class="container">
<!--Section: Magazine v.3-->
<section class="magazine-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Section title</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
    esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit id laborum.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/86.webp" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">
          <!-- Grid column -->
          <div class="col-12">
            <!-- Badge -->
            <a href="#!"><mdb-badge color="pink"><mdb-icon fas icon="camera" class="pr-2" aria-hidden="true"></mdb-icon>Adventure</mdb-badge></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">This is title of the news</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Featured news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>24 Food Swaps That Slash Calories.</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>How to Make a Beet Cocktail?</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>8 Sneaky Reasons You're Always Hungry.</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0">
            <a>5 Pressure Cooker Recipes You Need to Try.</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/31.webp" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">
          <!-- Grid column -->
          <div class="col-12">
            <!-- Badge -->
            <a href="#!"><mdb-badge color="deep-orange"><mdb-icon fas icon="plane" class="pr-2" aria-hidden="true"></mdb-icon>Travel</mdb-badge></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">This is title of the news</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Featured news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>Trends in the blogosphere for 2016.</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>Where you eat the best lunch in Warsaw?</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>What camera take for holidays?</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0">
            <a>Why you should visit Lisbon?</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right" class="fas fa-angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/52.webp" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">
          <!-- Grid column -->
          <div class="col-12">
            <!-- Badge -->
            <a href="#!"><mdb-badge color="success-color"><mdb-icon fas icon="plane" class="pr-2" aria-hidden="true"></mdb-icon>Nature</mdb-badge></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">This is title of the news</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Featured news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>How to recognize the footsteps of wild animals?</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>National Parks in Poland.</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>Traveling without littering the planet.</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news">
        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0">
            <a>How to protect rainforests?</a>
          </div>
          <a><mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </div>
      </div>
      <!-- Small news -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
</div>
<!--Section: Magazine v.3-->` 